In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [2]:
q3=pd.read_csv('BuyerRatio.csv')
q3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
#CREATING DIMENSIONAL ARRAY
arr=np.array([[50,142,131,70],[435,1523,1356,750]])
arr

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [4]:
#CHI SQUARE TEST
ss.chi2_contingency(arr)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))