In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [2]:
q4=pd.read_csv('Costomer+OrderForm.csv')
q4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
#GETTING VALUES FOR EACH COUNTRY
errorfree=[]
defective=[]

for i in range(0,4):
  a,b=q4.iloc[:,i].value_counts()
  errorfree.append(a)
  defective.append(b)
print(errorfree)
print(defective)

[271, 267, 269, 280]
[29, 33, 31, 20]

In [4]:
#CREATING DIMENSIONAL ARRAY
arr=np.array([errorfree,defective])
arr

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [5]:
#CHI SQUARE TEST
ss.chi2_contingency(arr)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))